<ul class="list-unstyled">
    <li><a href="https://twitter.com/adnuguk"><i class="fa fa-twitter"></i> Twitter (adnuguk)</a></li>
    <li><a href="https://github.com/adnuguk"><i class="fa fa-github"></i> GitHub (adnuguk)</a></li>
</ul>
