<ul class="list-unstyled">
    <li><a href="https://twitter.com/adnuguk"><i class="fa fa-twitter"></i> Twitter</a></li>
    <li><a href="https://github.com/adnuguk"><i class="fa fa-github"></i> GitHub</a></li>
    <li><a href="https://www.twitch.tv/adnuguk"><i class="fa fa-twitch"></i> Twitch</a></li>
    <li><a href="https://www.youtube.com/channel/UCRnxcmrSrc4TWKqakE4EViw"><i class="fa fa-youtube"></i> YouTube</a></li>
</ul>
